@model IEnumerable<Dotteam.Models.TechModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-3">
    <div class="container">
        
        <a class="btn btn-success pull-right mt-3" asp-action="Create">Create New</a>
        <h2 class="h2">Tech</h2>
        <hr/>

        <table class="table table-v-middle">
            <thead>
                <tr>
                    <th width="60">
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="img-responsive" src="~/@item.Image" width="60" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="ion ion-edit"></span> Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="ion ion-android-delete"></span> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
