@model IEnumerable<Dotteam.Models.ProjectModel>

@{
    ViewData["Title"] = "DOT | Projects";
}


<div class="hero-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3">
                <div class="intro text-center">
                    <h1 class="wow fadeInDown" data-wow-delay="0.1s">DOT Projects</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">
                        One's worth is determined by one's achievements!
                    </p>
                 </div>
            </div>
        </div>
    </div>
</div><!-- Pi-Hero -->


<div id="pricing" class="pricing-v2">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                @foreach (var Project in Model)
                {
                    <div class="col-sm-4 text-center">
                        <div class="table-left wow fadeInDown project-holder" data-wow-delay="0.2s">
                            <div class="project-details">
                                <img src="@(Project.Image != null ? Project.Image : "icons/favicon.png")" class="img-responsive" />
                                <h2>@Project.Name</h2>
                                <p>@Project.DescriptionShort</p>
                                <a class="btn btn-primary btn-action btn-edge" asp-action="Details" asp-route-id="@Project.Id">View Details</a>
                            </div>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <hr />
                                <a class="btn btn-warning " asp-action="Edit" asp-route-id="@Project.Id"><span class="ion ion-edit"></span> Edit</a>
                                <a class="btn btn-danger " asp-action="Delete" asp-route-id="@Project.Id"><span class="ion ion-android-delete"></span> Delete</a>
                            }
                        </div>
                    </div>
                }
            }

            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
            {
                <div class="col-sm-4 text-center">
                    <div class="table-left wow fadeInDown project-holder" data-wow-delay="0.2s">
                        <div class="project-details">
                            <img src="icons/favicon.png" class="img-responsive" />
                            <h2>Create New One</h2>
                            <a class="btn btn-success" asp-action="Create"><span class="ion ion-android-create"></span> Create</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>