@model Dotteam.Models.PresentaionModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PresentaionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionShort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionShort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastChange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastChange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
