@model Dotteam.Models.PresentaionModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PresentaionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
            <img class="img-responsive img-thumbnail" width="200" src="~/@Model.Image" alt="@Model.Name" />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionShort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionShort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastChange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastChange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<section name="Comment">
    <div name="comment-box">
        <partial name="_CommentSection" model="@ViewBag.Comments" />
    </div>
    <partial name="_CommentBox" model="new CommentModel() { Name = null, PresentationId = Model.Id };" />
</section>
